* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

body {
  background: w;
  color: b;
}


.banner {
  background: linear-gradient(to right, #f7e7d9, #fdeee3);
  text-align: center;
  padding: 60px 20px;
}

.banner h1 {
  font-size: 36px;
  letter-spacing: 3px;
}

.breadcrumb {
  margin-top: 10px;
  font-size: 14px;
}


.content {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;
}

.content h2 {
  font-size: 32px;
  letter-spacing: 4px;
}

.line {
  width: 120px;
  height: 3px;
  background: khaki;
  margin: 15px auto 50px;
}


.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  border: 1px solid white;
  padding: 25px;
  text-align: left;
}

.info-table th {
  width: 25%;
  background: white;
  font-weight: normal;
}
