.hero-section {
    width: var(--maxw);
    height: 100vh;
    overflow: hidden;
}

.hero-content {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.hero-image {
    background-color: pink;
}

.hero-image img{
    width: 100%;
    height: 100%;
}    