.container {
  width: 1200px;
  margin: 0 auto;
}

.header-top {
  background-color: var(--btn-primary-color);
  color: var(--highlight-color);
  font-size: 14px;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.header-info {
  display: flex;
  gap: 25px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.info-item i {
    margin-right: 6px;
}

.social-links a {
  color: var(--highlight-color);
  margin-left: 12px;
  text-decoration: none;
  transition: all .2s ease;
}
.social-links a:hover {
    color: var(--primary-color);
}

.header-bottom {
  background-color: var(--nav-color);
  border-bottom: 1px solid #ddd;
}

.header-bottom .container {
  display: flex;
  align-items: center;
  height: 90px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav {
  margin-left: 60px;
}

.nav a {
  margin-right: 30px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: all .2s ease;
}

.nav a:hover {
    color: var(--btn-hover);
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone p {
  margin: 0;
  font-size: 12px;
}

.btn {
  background-color: var(--btn-primary-color);
  color: var(--highlight-color);
  border-radius: 8px;
  padding: 14px 26px;
  text-decoration: none;
  transition: all .2s ease;
}

.btn:hover {
    background-color: var(--btn-hover);
}