@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* background color */
  --bg-primary-color: #fcf5f5;
  --bg-secondary-color: #faf2dd;
  --nav-color: #ffffff;
  --footer-color: ;
  --btn-primary-color: #f1c256;
  --btn-hover: #ebd092;

  /* font color */
  --head-color: #151111;
  --head-highlight-color: #f1c256; 
  --primary-color: #151111;
  --highlight-color: #fefcfc;

  /* size */
  --maxw: 1280px;
  --font-head: 38px;
  --font-sub-head: 28px;
  --font-body: 18px;
  --font-highlight: 16px;

  /* font family */
  --head-font: "Public Sans", san-serif;
  --body-font: "Open Sans", san-serif;
}

.biu {
  padding: 80px 30px;
  font-family: "serif";
  color: #4a321f;
  background-color: #fff;
}

.vin {
  max-width: 900px;
  margin-right: auto;
}


.mlo {
  text-align: center;
  margin-bottom: 60px;
}
.h1{
  font-size: 20px;
}

.bo1{
    width: 200px;
    background-color: white;
    font-size: 18px;
}

.bo1 samp{
    font-size:12px;
    padding: 10px;
    margin: 0;
    color: black;
}
.tin{
    padding: 20px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mak{
    background-color:white;
    width: 300x;
    margin: 0;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}



.clinic-table {
    width: 1200px;
    padding: 20px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;

}



.clinic-table {
    width: 100%; 
    max-width: 1500px;
    margin: 20px auto;
    border-collapse: collapse; 
    font-family: sans-serif;
}

.clinic-table th, .clinic-table td {
    border: 1px solid #e0e0e0; 
    padding: 20px;
    font-weight: normal;
}

.label-cell {
    background-color: #fdf8e9; 
    width: 25%;
    text-align: center;
    color: #5a4033; 
}

.content-cell {
    background-color: white;
    text-align: left;
    line-height: 1.6;
    color: #333;
}

.map-link, .phone-link {
    color: #a67c52; 
    text-decoration: underline;
}

.directions-title {
    font-family: "Georgia", serif; 
    font-size: 32px;
    margin-top: 40px;
    color: #5a4033;
}


.bio{
    background-color: aqua;
    width: 500px;
    font-size: 20px;

}